# This is a basic workflow to help you get started with Actions

name: HELLO-WORLD 

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - uses: "actions/checkout@v2"
      - name: "Installing Node"
        uses: "actions/setup-node@v2-beta"
        with:
          node-version: "12"

      - name: "Installing surge"
        run:  npm install --global surge
      - name: "deploying using surge"
        run: surge ./ easy-hello.surge.sh --token ${{ secrets.SURGE_TOKEN }}  
